<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/common.css">
		<title>Meadowlark Travel</title>
	</head>
	<body>
		<header>
			<img src="/img/logo.jpg" alt="Meadowlark Travel Logo">
		</header>
		<h1>Banafshe is testing!!!</h1>
		{{{body}}}
	</body>
</html>
