.container{
	width: 400px;
    border: 1px solid gray;
    padding: 20px;
    display:inline-block;
    top:0px;
    position: relative;
    float: left;
    height: 850px;
}
img{
	max-width: 80%;
	max-height: 200px;
}



div.form-group{
	padding: 10px;
}

div.form-group{
	display: inline-block;
	width: 200px;
}

div.form-input{
	display: inline-block;
}

#submit{
	background-color: #BA55D3;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#submit:hover{
	background-color: #9400D3;
}